APScheduler==3.7.0
bcrypt==3.2.0
boto3==1.15.6
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
Django==2.2.7
django-cors-headers==3.6.0
django-mysql==3.10.0
djangorestframework==3.12.0
docutils==0.16
et-xmlfile==1.0.1
funcy==1.15
hurry.filesize==0.9
idna==2.10
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.10.0
jsonfield==3.1.0
MarkupSafe==1.1.1
mysqlclient==2.0.3
numpy==1.19.5
openpyxl==3.0.5
pandas==1.2.1
paramiko==2.7.2
pdf2image==1.14.0
Pillow==8.1.0
pycparser==2
